# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/
test-glue-project/
test_glue_project/
test-emr-project/
test-emrs-project/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
