# Python
__pycache__/
*.py[cod]
*$py.class

# Kedro Data
data/01_raw/*
!data/01_raw/.gitkeep
data/02_intermediate/*
!data/02_intermediate/.gitkeep
data/03_primary/*
!data/03_primary/.gitkeep
data/04_feature/*
!data/04_feature/.gitkeep
data/05_model_input/*
!data/05_model_input/.gitkeep
data/06_models/*
!data/06_models/.gitkeep
data/07_model_output/*
!data/07_model_output/.gitkeep
data/08_reporting/*
!data/08_reporting/.gitkeep

# Kedro Logs
logs/*
!logs/.gitkeep
info.log
errors.log

# Spark / Iceberg
spark-warehouse/
metastore_db/
derby.log
local.db.financial_aggregations/

# Environments
.venv/
venv/

# Configuration (Ignore local credentials but keep template)
conf/local/*
!conf/local/.gitkeep
conf/local_infra/credentials.yml
!conf/local_infra/credentials.yml

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# IDEs
.idea/
.vscode/
.DS_Store
